<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Test</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <!-- <div class="container" id="outer-container" style="width:50px"> -->
    <div class="container" id="outer-container">
    <div class="container" id="inner-container">
      <fieldset>
        <form action="/" method="post">
          <!---<input name="choice" type="text" class="ghost-input" placeholder="answer (1-4)" required>
          <input type="submit" class="ghost-button" value="Submit">--->
          <% if(randomWord1 !== null){ %>
          <p><b><%= randomWord1 %></b></p>
          <% } %>
          <input name="choice" type="radio" value="0"> 
          <% if(wordDefinition1 !== null){ %>
          <%= wordDefinition1 %>
          <% } %>
          <br/>
          <input name="choice" type="radio" value="1">
          <% if(wordDefinition2 !== null){ %>
          <%= wordDefinition2 %>
          <% } %>
          <br/>
          <input name="choice" type="radio" value="2">
          <% if(wordDefinition3 !== null){ %>
          <%= wordDefinition3 %>
          <% } %>
          <br/>
          <input name="choice" type="radio" value="3">
          <% if(wordDefinition4 !== null){ %>
          <%= wordDefinition4 %>
          <% } %>
          <br/>
          <input type="submit" class="ghost-button" value="Submit">
        </form>
        <% if(error !== null){ %>
        <p><%= error %></p>
        <% } %>

        <% if(answer !== null){ %>
          <% if(answer =="Correct"){ %>
            <p id="correct"><%= answer %></p>
          <% } else { %>
            <p id="incorrect"><%= answer %></p>
          <% } %>
        <% } %>

        <p>Try another problem: <a href="/">New Question</a>
        </p>

      </fieldset>
    </div>
    </div>
    <div>
      <img src="https://student-energy.s3.amazonaws.com/assets/662/Renewable%20Energy.jpg" class="images" id="turbine">
    </div>
    <div>
      <img src="https://g.foolcdn.com/editorial/images/542611/a-solar-energy-facility-with-the-sun-setting-in-the-background.jpg" class="images" id="solar">
    </div>
  </body>
</html>
